.itemButton{
   width: 5rem;
   height: 5rem;
   border: 0;
   cursor: pointer;
   border-radius: 10px;
   background-color: white;
   display: flex;
   justify-content: center;
   align-items: center;
}

.itemButton:hover{
    background-color: whitesmoke;
}